@import './src/assets/sass/shared.scss';

/*
.RightSide {
  grid-area: NavBRightSidear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

*/

.NavBar {
  height: 73px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 4fr 8fr 5fr;
  grid-template-rows: 2fr 5fr 2fr;
  //Labels the grid areas for easy assignment in seperate classes
  grid-template-areas: "TopRow TopRow TopRow" "EbibloLogo MiddleColumn RightSide" "BottomRow BottomRow BottomRow";

}

.EbibloLogo {
  grid-area: EbibloLogo;
  //align-self: center;
}

.EbibloLogo img {
  height: 41px;
  width: 129px;
}

.RightSide {
  grid-area: RightSide;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  

}

.NavBar a {
  text-decoration: none;
  color: #65676A;
  font-family: $navBtnFontFamily;
  font-size: $navBtnFontSize;
}

.NavItem:hover {
  opacity: 0.5;
  text-decoration: none;
}

.NavItemGetStarted {
  background-color: $navBtnColour;
  border-radius: 5px;
  color: white;
  font-family: $navBtnFontFamily;
  font-size: $navBtnFontSize;
  width: 135px;
  height: 41px;
  @media screen and (max-width: $phone) {
    width: 80px;
}

}

.NavItemGetStarted:hover {
  background-color: #cccccc;
}
