.main {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 150px;
}
.messageprv {
  text-align: center;
  font-size: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10%;
  margin-bottom: 200px;
}
.cinputs {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid #cccccc;
}

.cinputst {
  border: 1px solid #cccccc;
  width: 50%;
  font-size: 15px;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 4px;
}
.cbutton {
  border: none;

  padding: 10px 50px 10px 50px;
  font-size: 15px;
  background-color: #536dfe;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.cbutton:hover {
  background-color: rgb(44, 59, 145);
}
.cerrors {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  font-size: 13px;
  color: red;
}
.labels {
  margin-right: 15px;
  font-size: 20px;
}
.labels span {
  position: relative;
  /* left: -1px; */
  top: -3px;
}
.labels1 {
  margin-right: 5px;
  font-size: 20px;
}
.labels1 span {
  position: relative;
  left: -2px;
  top: -3px;
}
.checkboxs {
  font-size: 20px;
  display: inline;
  margin: 20px;
}
input[type='checkbox'] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(2);
  padding: 5px;
  margin-right: 5px;
}
.maint1 {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 798px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .labels {
    margin: 5px;
    font-size: 20px;
  }
  .cinputs {
    width: 100%;
  }
  .cinputst {
    width: 100%;
  }
  .cbutton {
    width: 100%;
  }
}
