.navbar {
  height: 100px;
  position: fixed;
  background-color: white;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #cccccc;
}
.bdbtm {
  width: 100vw;
}
.ebiblogo {
  height: auto;
  width: 150px;
  float: left;
  clear: left;
  margin-top: 25px;
}
.rightsides {
  float: right;
  clear: right;
  margin-top: 28px;
}
.navitem {
  display: inline-block;
  font-size: 15px;
  margin-right: 25px;
  text-decoration: none;
  color: black;
}
.navitem:hover {
  opacity: 0.5;
}
.navitem2 {
  display: block;
  text-decoration: none;
  color: black;
  text-align: left;
}
.dropdownitm {
  font-size: 15px;
  clear: both;
  text-align: left;
  width: 100%;
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 30px;
}

.navitemsp {
  display: inline-block;
  font-size: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #3060BF;
  border-radius: 5px;
}

.navitemss {
  display: inline-block;
  font-size: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.navitemsp:hover {
  background-color: #cccccc;
}
.burgermenu {
  display: none;
}
.burgericon {
  font-size: 13px;
}
.burgerwrap {
  height: 30px;
  background: none;
  padding: 0px;
}
.dropdownmenu {
  width: 300px;
}

.head
{
  text-align: center;
}

a {
  font-size: 14px;
}


@media screen and (max-width: 700px) {
  .rightsides {
    display: none;
  }
  .burgermenu {
    display: block;
    float: right;
    clear: right;
    margin-top: 28px;
    font-size: 10px;
    height: 20px;
    padding: none;
  }
}

/*to remove existing style from sign in button*/
button {
  border: none;
  background-color: white;
}