// Value used to set the Width of the Desktop View
$desktopDivWidthVal: 1440px;
//Colour Variables
$navBtnColour: #3060BF;
$landingPageBackgroundColour: #F5F5F5; //#DEDFE0;
$BackGroundColourWhite: #FFFFFF;
$textColourGeneral: #65676A;
$howPageTitleTextColour: #3060BF;
//Text Variables 
$navBtnFontFamily: 'Microsoft Sans Serif';
$landingPageTitleFontFamily: 'Georgia';
$navBtnFontSize: 15px;
$howPageFontFamily: 'Helvetica Neue';
$howPageTitleFontFamily: '-apple-system';//'AppleSystemUIFont';
//$howPageTitleFontFamily: 'AppleSystemUIFont';
$testFontFamily: 'fantasy';
$howPageTitleFontFamily: '-apple-system'; //'AppleSystemUIFont';
//$howPageTitleFontFamily: 'AppleSystemUIFont';
//Screen size variables
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
